<h1>
    Olá {{user.name}}!!
    sabemos que voce quer um açai do Pará! <a href="peixe">Pegue Aqui</a>
    {{#if approved}}
    <p>
        Você está cadastrado com sucesso!
    </p>
    {{else}}
    <p>
        Você não está cadastrado!
    </p>
    {{/if}}
</h1>